
/*START SECTION 1*/
.section_1{
    color: #ffffff;
    background:
    linear-gradient(
            rgba(45, 110, 112, 0.9),
            rgba(45, 110, 112, 0.9)
    ),
    url(../img/home/masthead.png)
    no-repeat
    ;
    background-size: cover;
}
.grayNav{
    color: #bec8c8!important;
}
ul.navigation a:hover{
    color: #ffffff!important;
    text-decoration: none;
}
h1.logo a:hover{
    color: #ffffff!important;
    text-decoration: none;
}
.logo{
    font-weight: bold;
}
.line{
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    height: 31px;
    margin: 10px 0 0 0;
}
.phone{
    color: rgba(255, 255, 255, 0.2);
    padding-right: 7px;
}
.navigation{
    font-family: 'Montserrat';
    font-size: 13px;
    padding-top: 15px;
}
.header{
    padding: 27px 0 0 0;
    text-transform: uppercase;
}
.buttonImplies{
    color: #ffffff;
    border: 0;
    text-transform: uppercase;
}
.buttonCgreen{
    background-color: #6fb048;
}
.buttonG{
    background: rgba(255, 255, 255, 0.35);
}
.no_padding{
    padding-right: 0!important;
}
.hr_head{
    background-color: rgba(255, 255, 255, 0.2);
}
.headline{
    padding: 210px 0 198px 0;
}
.buttonS{
    margin-top: 7px;
    padding: 15px 44px;
    font-size: 14px;
    font-weight: bold;
}
.menu-btn {
    display: none;
}
.menuPosition{
    padding: 0 30px 0 0;
}
/*END SECTION 1*/

/*START SECTION 2*/
.section_2{
    padding: 90px 0 0 0;
}
.therecolumn{
    text-align: center;
}
.hr_all{
    width: 65px;
    background-color: #6fb048;
}
.h_color{
    color: #0f5f5c;
}
.p_all{
    font-size: 15px;
    color: #83a7a5;
    font-weight: 500;
}
.p_include{
    font-size: 15px;
    color: #83a7a5;
    font-weight: 500;
}
.colum{
    padding: 54px 0 0 0;
    text-align: center;
}
.h_pos{
    padding: 27px 0 15px 0;
}
.colum{
    height: 290px;
}
.img_pos{
    padding: 10px 0 0 0;
}
/*END SECTION 2*/

/*START SECTION 3*/
.div0{
    width: 45px;
    height: 90px;
    border-bottom: 2px solid #f2f2f2;
}
.div1{
    border-right: 1px solid #f2f2f2;
}
.div2{
    border-left: 1px solid #f2f2f2;
}
.colum_other{
    padding: 58px 0 109px 0;
}
.img_colum{
    padding: 0 20px 20px 20px;
}
/*END SECTION 3*/

/*START SECTION 4*/
.section_4{
    background-color: #eef1ec;
    padding: 75px 0 0 0;
}
.hand{
    width: 100%;
    height: auto;
}
.p_responsive{
    padding: 8px 0 0 0;
}
.img_r{
    padding: 0 15px;
    height: 25px;
}
.check{
    padding: 12px 0;
}
.p_check{
    margin-bottom: 0!important;
    font-size: 15px;
    color: #83a7a5;
    font-weight: 500;
}
/*END SECTION 4*/

/*START SECTION 5*/
.section_5{
    padding: 140px 0;
}
.imgR{
    width: 100%;
    height: auto;
}
.p_this{
    padding: 90px 0 0 0;
    font-family: 'Merriweather';
    font-size: 22px;
    color: #8badab;
}
.p_val{
    font-size: 14px;
    color: #6fb048;
    padding: 6px 0 0 0;
    margin: 0 0 8px 0;
}
.p_dir{
    font-size: 14px;
    color: #8badab;
}
/*END SECTION 5*/

/*START SECTION 6*/
.section_6{
    background-color: #eef1ec;
    padding: 60px 0;
}
.bulid_s6{
    padding: 105px 0 0 0;
}
.imageplanet{
    width: 100%;
    height: auto;
}
/*END SECTION 6*/

/*START SECTION 7*/
.section_7{
    padding: 95px 0 90px 0;
}
.select{
    padding: 24px 0 77px 0;
}
.plan{
    border: 1px solid #c1d3d2;
    text-align: center;
}
.button_Gray{
    background-color: #83a7a5;
}
.button_s{
    padding: 11px 25px;
    font-size: 15px;
    font-weight: 500;
}
.p_pricing{
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 500;
    color: #6fb048;
}
.h_pricing {
    font-size: 65px;
    font-weight: 600;
}
.p_ppricing{
    font-size: 17px;
    font-weight: 600;
}
.plan_basic{
    border-right: 0;
}
.plan_plus{
    border-right: 0;
}
.pricing{
    padding: 25px 55px 30px 55px;
}
.img_help{
    margin: 37px 0 14px 0;
}
.help_color{
    color: #6fb048;
}
.p_position{
    padding: 0 0 24px 0;
}
/*END SECTION 7*/

/*START SECTION 8*/
.section_8{
    background-image: url(../img/home/calltoaction.png);
    background-size: cover;
    padding: 72px 0 59px 0;
}
.col-md-3{
    list-style: none;
}
/*END SECTION 8*/

/*START SECTION 9*/
.section_9{
    padding: 95px 0 10px 0;
}
.logo_f{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}
.white{
    color: #ffffff;
}
.gray{
    color: #83a7a5;
    padding: 0 0 16px 0;
}

.footer{
    padding: 0 0 16px 0;
    font-size: 15px;
    color: #83a7a5;
    font-weight: 500;
}
.twitter{
    background-color: #55acee;
    padding: 0 0 0 5px;
}
.facebook{
    background-color: #3b5998;
    padding: 0 0 0 11px;
}
.instagram{
    background-color: #3f729b;
    padding: 0 0 0 7px;
}
.dribbble{
    background-color: #ea4c89;
    padding: 0 0 0 7px;
}
.github{
    background-color: #333333;
    padding: 0 0 0 6px;
}
.social{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
li.footer a:hover{
    color: #83a7a5!important;
    text-decoration: none;
}
.inputFooter{
    border: none;
    padding: 7px 16px;
    background: url(../img/home/icon_footer.png)
    no-repeat
    #eef1ec
    206px;
    width: 240px;
}
::placeholder{
    font-size: 15px;
    color: #83a7a5;
    font-weight: 500;
}
/*END SECTION 9*/
/*END HOME*/

/*START ABOUT*/

/*START SECTION_1_ABOUT*/
.section_1_about{
    background:
    no-repeat
    linear-gradient(
            rgba(45, 110, 112, 0.7),
            rgba(45, 110, 112, 0.7)
    ),
    url(../img/aboutUS/mhAbout.png)

    ;
    background-size: cover;
}
/*START SECTION_1_ABOUT*/
.textaling{
    text-align: center;
}
.buttonGp{
    padding: 8px 14px;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-size: 13px;
    float: right;
    margin: 8px 0 0 0;
}
/*END SECTION_1_ABOUT*/

/*START SECTION_2_ABOUT*/
.section_2_about{
    padding: 70px 0 84px 0;
}
/*END SECTION_2_ABOUT*/

/*START SECTION_3_ABOUT*/
.section_3_about{
    padding: 70px 0 84px 0;
    background-color: #eef1ec;
}
.positionMeet{
    margin: 0 0 112px 0;
}
.positionPara{
    margin: 15px 0 0 0;
}
.ourTeamImg{
    width: 100%;
    height: auto;
}
/*END SECTION_3_ABOUT*/
/*START SECTION_4_ABOUT*/
.section_4_about {
    background-image: url(../img/aboutUS/callTo.png);
    background-size: cover;
    padding: 72px 0 59px 0;
}
.buttonAgreen{
    background-color: #49732f;
}
/*END SECTION_4_ABOUT*/
/*END ABOUT*/

/*START PRICING*/
/*START SECTION_1_PRICING*/
.section_1_pricing{
    background-color: #eef1ec;
}
.hr_pri{
    background-color: rgba(131, 167, 165, 0.5);
    margin-bottom: 0;
}
.colorM{
    color: #83a7a5;
}
.lineP{
    border-right: 1px solid rgba(131, 167, 165, 0.5);
    font-size: 29px;
    height: 31px;
    margin: 10px 0 0 0;
}
.phone_pri{
    color: rgba(131, 167, 165, 0.5);
    padding-right: 7px;
}
.navi{
    font-family: 'Montserrat';
    font-size: 13px;
    padding-top: 15px;
}
ul.navi a:hover{
    color: #0f5f5c!important;
    text-decoration: none;
}
h1.logoA a:hover{
    color: #0f5f5c!important;
    text-decoration: none;
}
.logoA{
    font-weight: bold;
}
/*END SECTION_1_PRICING*/

/*START SECTION_2_PRICING*/
.section_2_pricing {
    padding: 57px 0 46px 0;
    background-color: #eef1ec;
}
.selectPricing{
    padding: 30px 0;
}
.buttonPricing:hover{
    background-color: #6fb048;
}
/*END SECTION_2_PRICING*/

/*START SECTION_3_PRICING*/
.section_3_pricing{
    padding: 78px 0;
}
/*END SECTION_3_PRICING*/

/*END PRICING*/


/*START CONTACT US*/

/*START SECTION_1_CONTACT*/
.section_1_contact{
    background-color: #ffffff;
}
/*END SECTION_1_CONTACT*/

/*START SECTION_2_CONTACT*/
.section_2_contact{
    background: url(../img/mhContactUs.png)
    no-repeat;
    ;
    background-size: cover;
    height: 400px;
}
/*END SECTION_2_CONTACT*/

/*START SECTION_3_CONTACT*/
.section_3_contact{
    padding: 75px 0 0 0;
}
.inputContact{
    width: 100%;
    height: 46px;
    margin: 0 0 25px 0;
    padding: 0 0 0 20px;
    border: 1px solid rgba(131, 167, 165, 0.5);
}
.inputM{
    width: 100%;
    height: 124px;
    margin: 0 0 25px 0;
    padding: 0 0 80px 20px;
    border: 1px solid rgba(131, 167, 165, 0.5);
}
.information{
    border: 2px dashed rgba(131, 167, 165, 0.5);
    padding: 24px 0 40px 40px ;
}
.location{
    padding: 0 10px 0 20px;
}
.street{
    padding: 16px 0 0 0;
}
.p_information{
    font-size: 15px;
    font-weight: 600;
}
.contact{
    padding: 62px 0 102px 0;
}
button{
    border-radius: 5px!important;
    cursor: pointer;
}
/*END SECTION_3_CONTACT*/
.imageplanet{
    width: 100%;
    height: auto;
}
/*END CONTACT US*/
/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300');

/*END FONTS*/


@media screen and (max-width: 1024px) {
    .slick-list {
        width: 900px!important;
    }
    .button_s{
        font-size: 14px;
    }
    .p_all {
        font-size: 13px;
    }
    .p_check{
        font-size: 13px;
    }
    .p_include{
        font-size: 13px;
    }
    .h3_size{
        font-size: 25px;
    }
    .h2_size{
        font-size: 28px;
    }
    .h1_size{
        font-size: 35px;
    }
    .bulid_s6{
        padding:10px 0 0 0;
    }
    .navigation{
        font-size: 12px;
    }
    .navi{
        font-size: 12px;
    }
    .buttonGp {
        font-size: 11px;
    }
    .menuPosition{
        padding: 0 20px 0 0;
    }
    .section_5 {
        padding: 80px 0;
    }
    .inputFooter {
        border: none;
        padding: 7px 16px;
        background: url(../img/home/icon_footer.png) no-repeat #eef1ec 176px;
        width: 100%;
    }
    .footer{
        font-size: 14px;
    }
    .pricing {
        padding: 20px 40px 25px 40px;
    }
}

@media (max-width: 960px) {
    .slick-list {
        width: 850px!important;
    }
    .right-arrow {
        bottom: 160px;
    }
    .left-arrow {
        bottom: 160px;
    }
    .h2_size{
        font-size: 23px;
    }
    .h1_size{
        font-size: 30px;
    }
    .h3_size {
        font-size: 20px;
    }
    .buttonGp{
        display: none;
    }
    .button_s{
        font-size: 9px;
    }
    .information {
        padding: 19px 0 35px 20px;
    }
    .pricing {
        padding: 20px 40px 25px 40px;
    }
    .p_this {
        padding: 32px 0 0 0;
        font-size: 17px;
    }
    ::placeholder {
        font-size: 13px;
    }
    .inputFooter{
        height: 28px;
        padding: 0 10px 4px 10px;
        background: url(../img/home/icon_footer.png) no-repeat #eef1ec 120px;
    }
    .p_include {
         font-size: 10px;
         padding: 5px 0;
     }
    .p_check {
        font-size: 11px;
    }
    .line{
        height: 22px;
        margin: 12px 0 0 0;
    }
    .lineP{
        height: 22px;
        margin: 12px 0 0 0;
    }
    .logo{
        margin: 3px 0 0 0;
    }
    .logoA{
        margin: 3px 0 0 0;
    }
    .buttonS {
        font-size: 11px;
    }
}
@media screen and (max-width: 800px) {
    .slick-list {
        width: 720px!important;
    }
    .right-arrow {
        bottom: 140px;
    }
    .left-arrow {
        bottom: 140px;
    }
}
@media screen and (max-width: 768px) {
    .menu-btn {
        display: block;
        margin-left: auto;
        background: none;
        border: none;
        color: #ffffff;
    }

    .menu {
        position: fixed;
        top: 94px;
        bottom: 0;
        width: 104px;
        height: auto;
        z-index: 10000;
        right: -100%;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
    .slick-list {
        width: 850px;
    }

    .toggled .menu {
        right: 35px;
    }
    .buttonGp{
        display: none;
    }
    .nav{
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none
    }
    .menuPosition {
        padding: 0 5px 10px 0;
    }
    .headline {
        padding: 150px 0 138px 0;
    }
    .section_4_about {
        padding: 42px 0 29px 0;
    }
    .section_8 {
        padding: 42px 0 29px 0;
    }
    .section_9 {
        padding: 35px 0 10px 0;
    }
}
@media (max-width: 736px) {
    .h2_size{
        font-size: 18px;
    }
    .h1_size{
        font-size: 25px;
    }
    .h3_size {
        font-size: 14px;
    }
    .toggled .menu {
        right: 114px;
    }
    .p_all {
        font-size: 10px;
    }
    .p_check{
        font-size: 11px;
    }
    .p_include{
        font-size: 11px;
    }
    .check{
        display: none!important;
    }
    .p_this {
        padding: 14px 0 0 0;
        font-size: 12px;
    }
    .section_5 {
        padding: 40px 0;
    }
    .imageplanet{
        margin: 66px 0 0 0;
    }
    .pricing {
        padding: 15px 30px;
    }
    .include{
        display: none;
    }
    .button_s{
        padding: 5px 20px
    }
    .buttonS{
        padding: 11px 31px;
        font-size: 9px;
    }
    .other{
        display: none;
    }
    .p_information {
        font-size: 10px;
    }
    .h5_size{
        font-size: 15px;
    }
    .img_help{
        margin: 0 0 14px 0;
    }
    .p_head{
        font-size: 13px;
    }
    .headline {
        padding: 110px 0 98px 0;
    }
    .section_4_about {
        padding: 32px 0 19px 0;
    }
    .section_8 {
        padding: 32px 0 19px 0;
    }
    .slick-list {
        width: 660px!important;
    }
    .left-arrow {
        bottom: 130px;
    }
    .right-arrow {
        bottom: 130px;
    }
}
@media (max-width: 667px) {
    .slick-list {
        width: 600px!important;
    }
    .menu_pricing{
        background-color: #ffffff;
        height: 129px;
    }
    .toggled .menu {
        right: 78px;
    }
    .toggled .menu {
        right: 78px;
    }
}
@media (max-width: 640px) {
    .toggled .menu {
        right: 65px;
    }
    .img_colum{
        width: 70px;
        height: 48px;
    }
    .slick-list {
        width: 580px!important;
    }
    .left-arrow {
        bottom: 120px;
    }
    .right-arrow {
        bottom: 120px;
    }
}
@media (max-width: 568px) {
    .menu {
        top: 81px;
    }
    .toggled .menu {
        right: 30px;
    }
    .line{
        display: none!important;
    }
    .lineP{
        display: none!important;
    }
    .phone_h{
        display: none;
    }
    .colum_other {
        padding: 38px 0 46px 0;
    }
    .section_7 {
        padding: 45px 0 40px 0;
    }
    .section_2_about {
        padding: 40px 0 0 0;
    }
    .positionMeet {
        margin: 0 0 50px 0;
    }
    .section_3_about {
        padding: 30px 0 30px 0;
    }
    .section_3_pricing {
        padding: 28px 0;
    }
    .information{
        margin: 25px 0 0 0;
        width: 179px;
    }
    .p_ppricing {
        font-size: 12px;
    }
    .p_pricing {
        font-size: 14px;
    }
    .section_2 {
        padding: 50px 0 0 0;
    }
    .inputContact {
        width: 250px;
        height: 30px;
        margin: 0 0 20px 0;
        padding: 0 0 0 20px;
    }
    .inputM {
        width: 250px;
        height: 124px;
        margin: 0 0 20px 0;
        padding: 0 0 100px 20px;
    }
    .section_3_contact {
        padding: 40px 0 0 0;
    }
    .contact {
        padding: 30px 0 50px 0;
    }
    .slick-list {
        width: 500px!important;
    }
}
@media (max-width: 414px){
    .pricing {
        padding: 4px 12px;
    }
    .p_head {
        font-size: 10px;
    }
    .h1_size {
        font-size: 20px;
    }
    .h3_size {
        font-size: 10px;
    }
    .p_all {
        font-size: 6px;
    }
    .p_this {
        font-size: 9px;
    }
    .footer {
        font-size: 9px;
    }
    .headline {
        padding: 50px 0 48px 0;
    }
    .buttonS {
        padding: 6px 16px;
    }
    .button_s {
        padding: 5px 9px;
    }
    .menu{
        background-color: #ffffff;
        height: 120px;
        width: 76px;
        top: 75px
    }
    .navigation{
        padding: 10px 0 0 0;
    }
    .plan_premium{
        width: 99px;
    }
    .section_6 {
        padding: 20px 0;
    }
    .colum{
        height: 228px;
    }
    .section_4_about {
        padding: 15px 0 10px 0;
    }
    .section_8 {
        padding: 15px 0 10px 0;
    }
    ::placeholder {
        font-size: 9px;
    }
    .inputFooter{
        padding: 2px 0 7px 2px;
        height: 18px;
        background: url(../img/home/icon_footer.png) no-repeat #eef1ec 85px;
    }
    .fa-2x {
        font-size: 1.5em!important;
    }
    .img_colum{
        width: 65px;
        height: 43px;
    }
    .section_2_pricing {
        padding: 31px 0 20px 0;
    }
    .slick-list {
        width: 360px!important;
    }
    .fa-2x {
        font-size: 1em!important;
    }
    .p_f{
        font-size: 11px;
        margin:0 0 5px 0;
    }
    .left-arrow {
        bottom: 75px;
    }
    .right-arrow {
        bottom: 75px;
    }
}
@media (max-width: 375px){
    .menu{
        top: 72px;
    }
    .h1_size {
        font-size: 16px;
    }
    .p_download{
        display: none;
    }
    .section_4 {
        padding: 30px 0 0 0;
    }
    .h2_size {
        font-size: 16px;
    }
    .section_5 {
        padding: 10px 0;
    }
    .imgR {
        margin: 25px 0 0 0;
    }
    .h3_size {
        font-size: 9px;
    }
    .headline {
        padding: 30px 0 28px 0;
    }
    .h5_size {
        font-size: 12px;
    }
    .img_pos{
        width: 50px;
    }
    .select {
        padding: 24px 0 20px 0;
    }
    .section_2 {
        padding: 30px 0 0 0;
    }
    .colum {
        padding: 26px 0 0 0;
    }
    .inputFooter{
        background: url(../img/home/icon_footer.png) no-repeat #eef1ec 71px;
    }
    .fa-2x {
        font-size: 1em!important;
    }
    .navigation {
        padding-top: 10px;
    }
    .img_help {
        width: 30px;
    }
    .slick-arrow{
        width: 26px;
        height: 26px;
    }
    .slick-list {
        width: 330px!important;
    }
    .p_f{
        font-size: 10px;
        margin:0 0 5px 0;
    }
    .left-arrow {
        bottom: 75px;
    }
    .right-arrow {
        bottom: 75px;
    }
}
@media (max-width: 360px) {
    .section_8 {
        padding: 15px 0 10px 0;
    }

    .section_4_about {
        padding: 15px 0 10px 0;
    }

    .section_2_contact {
        height: 280px;
    }

    .inputFooter {
        background: url(../img/home/icon_footer.png) no-repeat #eef1ec 68px;
    }

    .inputContact {
        width: 200px;
        height: 20px;
    }

    .inputM {
        width: 200px;
        height: 100px;
        padding: 0 0 80px 20px;
    }

    .information {
        width: 138px;
    }

    .section_3_contact {
        padding: 20px 0 0 0;
    }

    .contact {
        padding: 10px 0 20px 0;
    }

    .information {
        padding: 19px 0 15px 15px;
    }

    .fa-2x {
        font-size: 1em !important;
    }

    .img_colum {
        width: 60px;
        height: 38px;
    }

    .button_s {
        padding: 3px 4px;
    }

    .button_s {
        font-size: 8px;
    }

    .p_margin {
        margin: 0 0 5px 0;
    }

    .plan_basic {
        width: 98px;
    }
    .plan_plus {
        width: 98px;
    }
    .plan_premium {
        width: 97px;
    }
    .section_2_pricing {
        padding: 15px 0 3px 0;
    }
    .section_3_pricing {
        padding: 10px 0;
    }
}
@media (max-width: 320px){
    .inputFooter {
        background: url(../img/home/icon_footer.png) no-repeat #eef1ec 82px;
    }
    .h1_size {
        font-size: 13px;
    }
    .plan_basic {
        width: 90px;
    }
    .plan_plus {
        width: 90px;
    }
    .plan_premium {
        width: 91px;
    }
    .slick-list {
        width: 290px!important;
    }
    .left-arrow {
        bottom: 85px;
    }
    .right-arrow {
        bottom: 85px;
    }
}