.section_about_1 {
  background:
          no-repeat
          linear-gradient(
                          rgba(45, 110, 112, 0.7),
                          rgba(45, 110, 112, 0.7)
          ),
          url(../img/aboutUS/mhAbout.png);
  background-size: cover;
  color: #ffffff;
}