.plan-check {
  margin: 0 0 16px 0;
}

.include-check {
  padding: 77px 0;
}

.img_help {
  margin: 37px 0 14px 0;
}

.help-p {
  padding: 0 0 24px 0;
}

.include-check__plan {
  margin: 40px 0 0 0;
}