/*

@media (min-width: 1024px) and (max-width: 1279px) {
  .built {
    padding: 0;
  }
  .check__p {
    font-size: 13px;
  }
  .section_home_4 {
    padding: 70px 0;
  }
  .left-arrow {
    bottom: 140px;
    left: -40px;
  }

  .right-arrow {
    bottom: 140px;
    right: -40px;
  }

  .information {
    padding-left: 20px;
  }

  .head-line__button {
    font-size: 14px;
  }

  .menu-navigation {
    font-size: 14px;
  }

  .slick-list {
    width: 800px !important;
  }

  .ourTeamImg {
    width: 250px;
  }

  .information {
    width: 200px;
  }

  .contact-form__input {
    height: 35px;
  }

  .head-line__button {
    padding: 10px 20px;
  }
}
*/
