
@media (min-width: 1280px) and (max-width: 1439px) {
  .built {
    padding: 0;
  }

  .section_home_4 {
    padding: 70px 0;
  }

  .check__p {
    font-size: 14px;
  }

  .left-arrow {
    bottom: 150px;
    left: -50px;
  }

  .right-arrow {
    bottom: 160px;
    right: -80px;
  }
}
